<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
       xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application id="default-dubbo-application" name="${dubbo.application.name}" />
     
    <dubbo:registry protocol="${default.dubbo.registry.protocol}"
        address="${default.dubbo.registry.address}" 
        id="default-dubbo-registry" register="false" check="false" timeout="${default.dubbo.registry.timeout}" file="${default.dubbo.registry.file}"/>
        
</beans>
